/* ForgotPassword.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #3c009d, #6f00ff);
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.forgot-password-page {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

* {
    box-sizing: border-box;
}

.forgot-password-form h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #f1f1f1;
}

.forgot-password-form p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #ddd;
}

.inputFP {
    margin-bottom: 20px;
}

.inputFP input {
    width: 100%;
    padding: 10px 0px 10px 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
}

.input input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

.submitFP {
    background: linear-gradient(135deg, #6f00ff, #3c009d);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.submitFP:hover {
    background: linear-gradient(135deg, #3c009d, #6f00ff);
    transform: translateY(-2px);
}

.submitFP:active {
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Toastify__toast-container {
    top: 1em !important;
    /* Distance from the top */
    right: 1em !important;
    /* Distance from the right */
    position: fixed;
    z-index: 9999;
    /* Ensure it appears above other elements */
    pointer-events: none;
    /* Prevent interference with underlying elements */
}

.Toastify__toast {
    color: #333;
    /* Ensure text is visible */
    background-color: #fff;
    /* Set background for contrast */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast-body {
    font-size: 14px;
}

.Toastify__close-button {
    color: #333;
    /* Close button color */
}